.slider {
  --slider-gradient: linear-gradient(90deg, #007fbf, #582080, #f20079);
  --slider-gradient-thumb: linear-gradient(30deg, #0040bf, #582080, #f20079);
  --slider-height: 15px;
  --slider-track-height: 5px;
  --slider-track-background: hsl(220, 4%, 85%);
  --slider-progress-height: 5px;
  --slider-progress-background: var(--slider-gradient);
  --slider-thumb-bg: var(--slider-gradient-thumb);
  --slider-thumb-width: 22px;
  --slider-thumb-height: 22px;
  --slider-thumb-border-width: 3.5px;
  --slider-thumb-border-color: hsl(var(--b1));
  --slider-thumb-hover-bg: var(--slider-gradient-thumb);
  --slider-thumb-hover-width: 22px;
  --slider-thumb-hover-height: 22px;
  --slider-thumb-hover-border-width: 2px;
  --slider-thumb-hover-border-color: hsl(var(--b1));

  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  &::before,
  &::after {
    --slider-gradient-degree: 90deg;
    position: absolute;
    content: '';
    top: 50%;
    bottom: 0;
    border-radius: 999rem;
    transform: translateY(-50%);
    cursor: pointer;
  }
  // Current progress
  &::before {
    left: 2px;
    height: var(--slider-progress-height);
    right: 2px;
    background: var(--slider-progress-background);
  }
  // Progress track
  &::after {
    right: 1px;
    height: calc(var(--slider-track-height) + 2px);
    width: calc(100% - var(--slider-value) - 1px);
    background: var(--slider-track-background);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  input {
    -webkit-appearance: none !important;
    appearance: none !important;
    width: 100%;
    height: 10px;
    background: transparent;
    border: none;
    outline: none;
    z-index: 99;
    &::-webkit-slider-thumb {
      -webkit-appearance: none !important;
      appearance: none !important;
      width: var(--slider-thumb-width);
      height: var(--slider-thumb-height);
      background: var(--slider-thumb-bg);
      border: var(--slider-thumb-border-width) solid
        var(--slider-thumb-border-color);
      border-radius: 50%;
      transition: border 0.25s ease;
      box-shadow: 0 0 5px 1.5px rgba(black, 0.25);
      cursor: pointer;
      &:hover {
        width: var(--slider-thumb-hover-width);
        height: var(--slider-thumb-hover-height);
        background: var(--slider-thumb-hover-bg);
        border: var(--slider-thumb-hover-border-width) solid
          var(--slider-thumb-hover-border-color);
      }
    }
  }
}

html[data-theme='dark'] {
  .slider {
    --slider-track-background: hsl(221, 20%, 16%);
    --slider-thumb-border-color: hsl(222, 5%, 50%);
    --slider-thumb-hover-border-color: hsl(222, 5%, 50%);
  }
}
