.player {
  position: fixed;
  inset: 0;
  top: initial;
  z-index: 9999;
}

.backdrop-true {
  background-image: linear-gradient(
    to top,
    hsl(var(--b3, var(--b2)) / .65),
    hsl(var(--b3, var(--b2)) / 0)
  );
  backdrop-filter: blur(24px);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.15);
}

.backdrop-false {
  background-image: linear-gradient(
    to top,
    hsl(var(--b1, var(--b2)) / 1),
    hsl(var(--b1, var(--b2)) / .85),
    hsl(var(--b1, var(--b2)) / .75)
  );
}

[data-theme="dark"] {
  .backdrop-false {
    background-image: linear-gradient(
      to top,
      hsl(var(--b1, var(--b2)) / 1),
      hsl(var(--b1, var(--b2)) / .98),
      hsl(var(--b1, var(--b2)) / .95)
    );
  }
}