.player {
  position: fixed;
  inset: 0;
  top: initial;
  z-index: 9999;
}

.backdrop-true {
  background-image: linear-gradient(
    to top,
    hsl(var(--b3, var(--b2))),
    hsl(var(--b3, var(--b2)) / 0)
  );
  backdrop-filter: blur(24px);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.15);
}

.backdrop-false {
  background-color: hsl(var(--b3, var(--b2)) / 0.95);
}
